In [101]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split

In [89]:
data_file = 'battles_2020_12_09_use.csv'
battles_data = pd.read_csv(data_file)
print(battles_data.shape)
battles_data.head()

(47881, 61)

,battleTime,gameMode.id,average.startingTrophies,winner.startingTrophies,winner.trophyChange,winner.crowns,loser.startingTrophies,loser.trophyChange,loser.crowns,winner.card1.id,...,loser.cards.list,loser.totalcard.level,loser.troop.count,loser.structure.count,loser.spell.count,loser.common.count,loser.rare.count,loser.epic.count,loser.legendary.count,loser.elixir.average
0,2020-12-09 15:40:02+00:00,72000006,4635.0,4635,30,3,4635,-30,0,Giant,...,"[P.E.K.K.A, Minions, Wizard, Ice Wizard, Fire ...",98,6,1,1,3,2,1,2,3.625
1,2020-12-09 15:09:05+00:00,72000006,4583.5,4584,29,2,4583,-29,1,Hog Rider,...,"[Skeleton Army, Wizard, Minion Horde, Goblin G...",103,5,0,3,3,2,3,0,3.875
2,2020-12-09 04:20:22+00:00,72000006,4670.0,4676,28,2,4664,-28,1,Ram Rider,...,"[Knight, Bomber, Wizard, Bats, Mega Knight, Ar...",95,5,0,3,5,1,1,1,3.500
3,2020-12-09 01:28:08+00:00,72000006,5778.0,5787,28,2,5769,-28,1,Goblin Giant,...,"[Golem, Baby Dragon, Lumberjack, Mega Minion, ...",104,5,1,2,1,2,3,2,4.250
4,2020-12-09 22:57:54+00:00,72000006,5420.5,5416,30,2,5425,-30,1,Goblin Barrel,...,"[Golem, Baby Dragon, Lumberjack, Cannon Cart, ...",104,6,0,2,0,0,6,2,4.375

In [90]:
#Creates a new dataset with new columns

battles_data_1 = battles_data[['winner.troop.count', 'winner.structure.count', 'winner.spell.count', 'winner.elixir.average', 'loser.troop.count', 'loser.structure.count', 'loser.spell.count', 'loser.elixir.average']].copy()
battles_data_1.describe()

,winner.troop.count,winner.structure.count,winner.spell.count,winner.elixir.average,loser.troop.count,loser.structure.count,loser.spell.count,loser.elixir.average
count,47881.000000,47881.000000,47881.000000,47881.000000,47881.000000,47881.000000,47881.000000,47881.000000
mean,5.465571,0.503248,2.031181,3.779193,5.540695,0.474990,1.984315,3.816261
std,1.042993,0.609034,0.796694,0.515716,1.089873,0.600618,0.864109,0.525860
min,0.000000,0.000000,0.000000,1.500000,0.000000,0.000000,0.000000,1.500000
25%,5.000000,0.000000,2.000000,3.500000,5.000000,0.000000,1.000000,3.500000
50%,6.000000,0.000000,2.000000,3.875000,6.000000,0.000000,2.000000,3.875000
75%,6.000000,1.000000,3.000000,4.125000,6.000000,1.000000,3.000000,4.125000
max,8.000000,6.000000,7.000000,6.410714,8.000000,8.000000,8.000000,7.500000

In [91]:
#Winner-1 and loser-0
winner_df = battles_data_1[['winner.troop.count', 'winner.structure.count', 'winner.spell.count', 'winner.elixir.average']].copy()
winner_df['Winner'] = 1
#Rename Columns
winner_df.columns = ["troop_count","structure_count","spell_count", "elixir_average", "Winner"]
winner_df.head()

   troop_count  structure_count  spell_count  elixir_average  Winner
0            7                0            1           3.875       1
1            8                0            0           4.125       1
2            7                0            1           4.250       1
3            7                0            1           3.625       1
4            5                1            2           3.125       1

In [93]:
loser_df = battles_data_1[['loser.troop.count', 'loser.structure.count', 'loser.spell.count', 'loser.elixir.average']].copy()
#Creating Target Label 
loser_df['Winner'] = 0
#Rename Columns
loser_df.columns = ["troop_count","structure_count","spell_count", "elixir_average", "Winner"]
loser_df.head()

   troop_count  structure_count  spell_count  elixir_average  Winner
0            6                1            1           3.625       0
1            5                0            3           3.875       0
2            5                0            3           3.500       0
3            5                1            2           4.250       0
4            6                0            2           4.375       0

In [94]:
data_battles = pd.concat([loser_df,winner_df], ignore_index=True)
print(data_battles.isnull().sum())
data_battles.head()

troop_count        0
structure_count    0
spell_count        0
elixir_average     0
Winner             0
dtype: int64

   troop_count  structure_count  spell_count  elixir_average  Winner
0            6                1            1           3.625       0
1            5                0            3           3.875       0
2            5                0            3           3.500       0
3            5                1            2           4.250       0
4            6                0            2           4.375       0

In [ ]:
#shuffling data to esnure the model learns a pattern
shuffled_data_battles = data_battles.sample(frac=1).reset_index(drop=True)
shuffled_data_battles.head()

   troop_count  structure_count  spell_count  elixir_average  Winner
0            7                0            1           4.500       1
1            5                2            1           4.875       0
2            6                0            2           4.125       0
3            6                0            2           3.875       1
4            5                0            3           4.375       1

In [99]:
#Establishing x and y 
X = shuffled_data_battles.drop('Winner',axis=1)
y = shuffled_data_battles['Winner']

In [ ]:
#Use the train test split function
X_train, X_test, y_train, y_test = train_test_split(X,y, random_state=42,train_size=0.7, shuffle=True)

In [103]:
from xgboost import XGBClassifier
from sklearn.metrics import accuracy_score

model = XGBClassifier()
model.fit(X_train,y_train)
y_pred = model.predict(X_test)
accuracy = accuracy_score(y_test,y_pred)
print(f"The accuracy of this model is {accuracy}")

The accuracy of this model is 0.5411256918096696

#user the tr

In [ ]:
battles_data_2 = battles_data[['winner.card1.id', 'winner.card2.id', 'winner.card3.id', 'winner.card4.id', 'winner.card5.id', 'winner.card6.id', 'winner.card7.id', 'winner.card8.id', 'loser.card1.id', 'loser.card2.id', 'loser.card3.id', 'loser.card4.id', 'loser.card5.id', 'loser.card6.id', 'loser.card7.id', 'loser.card8.id']].copy()
battles_data_2.describe()

,winner.card1.id,winner.card2.id,winner.card3.id,winner.card4.id,winner.card5.id,winner.card6.id,winner.card7.id,winner.card8.id,loser.card1.id,loser.card2.id,loser.card3.id,loser.card4.id,loser.card5.id,loser.card6.id,loser.card7.id,loser.card8.id
count,47881,47881,47881,47881,47881,47881,47881,47881,47881,47881,47881,47881,47881,47881,47881,47881
unique,102,102,102,102,102,102,102,102,102,102,102,102,102,102,102,102
top,Mega Knight,Balloon,Zap,Zap,Fireball,The Log,The Log,The Log,Mega Knight,Valkyrie,Valkyrie,Zap,Fireball,The Log,The Log,The Log
freq,2092,1727,1767,2192,2007,1903,2337,3198,2056,1709,1753,2012,1883,1693,2107,2734

In [21]:
data2_columns = battles_data_2.columns

for col in data2_columns:
    battles_data_2[col] = battles_data_2[col].astype('category')
    print(col)

battles_data_2.describe()

winner.card1.id
winner.card2.id
winner.card3.id
winner.card4.id
winner.card5.id
winner.card6.id
winner.card7.id
winner.card8.id
loser.card1.id
loser.card2.id
loser.card3.id
loser.card4.id
loser.card5.id
loser.card6.id
loser.card7.id
loser.card8.id

,winner.card1.id,winner.card2.id,winner.card3.id,winner.card4.id,winner.card5.id,winner.card6.id,winner.card7.id,winner.card8.id,loser.card1.id,loser.card2.id,loser.card3.id,loser.card4.id,loser.card5.id,loser.card6.id,loser.card7.id,loser.card8.id
count,47881,47881,47881,47881,47881,47881,47881,47881,47881,47881,47881,47881,47881,47881,47881,47881
unique,102,102,102,102,102,102,102,102,102,102,102,102,102,102,102,102
top,Mega Knight,Balloon,Zap,Zap,Fireball,The Log,The Log,The Log,Mega Knight,Valkyrie,Valkyrie,Zap,Fireball,The Log,The Log,The Log
freq,2092,1727,1767,2192,2007,1903,2337,3198,2056,1709,1753,2012,1883,1693,2107,2734